.container {
    max-width: 600px;
    margin: 150px auto;
    text-align: center;
}

h2 {
    color: #333;
}

input[type="text"], button {
    margin: 30px;
    padding: 12px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 50px;
    font-weight: bold;
}
